:root{
  --a: calc((464px*100%)/680px)
}
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}
.container {
  position: relative;
  background-color: rgb(240, 240, 240);
}
.content-post {
  display: flex;
  justify-content: center;
}
.post-body {
  box-shadow: 2px 2px 12px 0px rgb(233, 232, 232);
  overflow: hidden;
  background-color: #fff;
  padding: 1rem;
  max-width: 680px;
  width: var(--a);
  min-width: 464;
  border-radius: 9px;
}
.user-wrap {
  justify-content: space-between;
  display: flex;
}


/* comment */

.comment-session{
  width: 650px;
  height: auto;
  margin: 0 auto;
}
.post-comment .list{
  width: 100%;
  margin-bottom: 12px;
}
.post-comment .list .user{
  display: flex;
  padding: 8px;
  overflow: hidden;
}
.post-comment .list .user img{
  height: 38px;
  width: 38px;
  margin-right: 10px;
  border-radius: 50px;
}
.comment-session .name{
  text-transform: uppercase ;
  font-weight: 500;
}
.post-comment .list .day{
  font-size: 12px;

}
.post-comment .comment-post{
  padding: 0 0 15px 58px;
}

/* comment-box */
.comment-box{
  display: flex;
  text-align: start;
}
.comment-box .box-pic{
margin-right: 0.7rem;
position: relative;
}
.box-pic::after{
  display: block;
  position: absolute;
  width: 0.7rem;
  height: 0.7rem;
  bottom: 0.3rem;
  left: 2.3rem;
  border-radius: 50%;
  border: 0.3rem solid white;
}
.box-pic:hover{
  cursor: pointer;
}
.profile-pic{
  width: 2.2rem;
  height:2.2rem;
  border-radius: 50%;
}
.comment-text{
  display: flex;
  max-width: 600px;
  align-items: center;
  flex:1;
}

.cmt-input{
  width: 100%;
  border:none;
  padding: 0.7rem;
  font-size: 0.9rem;
  color: rgba(5,5,5,0.8);
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  outline:none;
  flex:1;
  background-color: #eee;
}
.cmt-input::placeholder{
  opacity: 0.8;

}
.cmt-input::focus::-webkit-input-placeholder{
  opacity: 0.6;

}

.comment-friend{
  display: flex;
  text-align: start;
  font-size: 0.8rem;
}
.friend-comment-pic{
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  margin-right: 0.7rem;
  cursor: pointer;
  margin-top: 0.1rem;

}
.friend-comment-pic:hover{
  filter:brightness(0.95);

}
.friend-comment-comment{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 0.5rem;
  padding: 0.5rem 0.9rem;
  background: rgb(240, 240, 240);
  border-radius: 1rem;
}
.comment-author{
  align-self: flex-start;
  font-size: 0.8rem;

}
.comment-author:hover{
  text-decoration: underline;
}
.comment-author{
  font-weight: 550;
  text-decoration: none;
  color: black;
  font-size: 0.8rem;

}

.comment-box .image img{
  width: 24px;
  height: 24px;
  margin-right: 10px;
  border-radius: 50%;
}


.comment-box .comment-submit{
  float: right;
  padding: 6px 10px;
  border:none;
  background: #009cff;
  color: #eee;
  cursor: pointer;
  border-radius: 3px;
}
.comment-box .comment-submit:hover{
  background: #0076bf;
}
@media screen and (max-width:660px){
  .comment-session{width: 100%;}
}